.user-image{
    width: 100px;
    height: 80px;
    object-fit: contain;
}

.user-card,.user-data{
    display: flex;
    align-items: center;
}

.user-card{
    width: 360px;
    justify-content: space-between;
    background-color: var(--color-three);
    padding: 0.75rem 1.25rem .75rem .75rem;
    box-shadow: 4px 4px 16px #e1e1e1, -2px -2px 16px #fff;
    border-radius: 2.5rem;
}

.user-image{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.user-name{
    font-size: var(--normal-font-size);
    color: var(--color-one);
    font-weight: 500;
}

.user-role{
    font-size: var(--smaller-font-size);
    color: var(--color-two);
}

.social-media{
    margin: 0 .375rem;
    color: var(--color-two);
    transition: .4s;
}

.social-media:hover{
    color: var(--color-one);
}

