@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');


:root{
    --color-one:#272a3a;
    --color-two:#8a8eaa;
    --color-three:#f8f8fc;

    --fontFam:'ubuntu',sans-serif;
    --normal-font-size:1rem;
    --smaller-font-size:0.813rem;
}


*,::before,::after{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    font-family: var(--fontFam);
    background-color: var(--color-three);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}
.drop-area,.drop-container{
    display: grid;
}

.drop-container{
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.drop-area{
    row-gap: 1rem;
    padding: 2rem;
    box-shadow: 4px 4px 16px #e1e1e1;
}

.sortable-chosen{
    box-shadow: 8px 8px 32px #e1e1e1;
}

.sortable-drag{
    opacity: 0;
}